.showcase-2{
height: 35vh;
display: flex;
justify-content: center;
align-items: center;
background-image: url(../assets/img/bg-masthead.jpg);
background-size: cover;
background-position: bottom;
color: #fff;
font-family: sans-serif;
}
