.main_team{
    text-align: center;
    background-color: rgb(255, 249, 249);
    padding: 2rem;

}
.main_Box{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.main_box_1{
 margin: 2rem;
}
.team_img1{
  margin: auto;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    background-size: cover;
    background-image: url(../assets/img//testimonials-1.jpg);
}
.team_img2{
    margin: auto;
      border-radius: 50%;
      height: 8rem;
      width: 8rem;
      background-size: cover;
      background-image: url(../assets/img//testimonials-2.jpg);
  }
  .team_img3{
    margin: auto;
      border-radius: 50%;
      height: 8rem;
      width: 8rem;
      background-size: cover;
      background-image: url(../assets/img//testimonials-3.jpg);
  }